*::first-letter{
    font-style: italic;
}

.red-bg{
    background-color: #FB8282;
}

.blue-bg{
    background-color: #8295FB;
}

.light-grey-bg{
    background-color: #CDCED1;
}

.transparent-grey-bg{
    background-color: rgba(230, 230, 230, 0.75)
}

.main-box{
    padding-left: 30%;
    padding-right: 30%;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

header{
    margin-bottom: 15px;
    font-size: larger;
    align-items: center;
}

header h1::after{
    content: url("walniete_serce.png");
}

img{
    margin-right: 25px;
}

button{
    height: 30px;
    width: 25%;
    margin-right: 15px;
}

.nav-text{
    flex: 50%;
}

nav{
    margin-bottom: 15px;
    align-items: center;
}

article{
    height: 40%;
    flex: 58%;
    margin-right: 15px;
}

aside{
    flex: 38%;
}

footer{
    margin-top: 15px;
}

section, .random-ass-box{
    height: 20%;
    margin-bottom: 20px;
}

.padding-stuff{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
}

.padding-stuff-small{
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 25px;
    padding-right: 25px;
}

.ul-navbar, .ul-galeria{
    list-style-type: none;
}

.ul-navbar a li{
    margin-left: 10px;
    background-color: whitesmoke;

    padding: 10px;
}

.ul-navbar a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.ul-navbar a li:hover{
    background-color: rgb(200, 200, 200);
}

.ul-navbar a li:active{
    background-color: white;
    color: rgb(75, 75, 75);
}

.galeria{
    background-color: rgb(108, 170, 106);

    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 15px;

    align-items: center;
}

.ul-galeria li{
    margin-right: 12%;
}

.zdj1{
    border-radius: 60px 10px;
    border: 2px solid black;
}

.zdj2{
    border-radius: 15px 40px 100px;
    border: 3px dotted white;
}

.zdj3{
    border: 6px double rgb(112, 112, 112);
}

.zdj4{
    border: 4px ridge rgb(207, 207, 207);
}
