*::first-letter{
    font-style: italic;
}

.red-bg{
    background-color: #FB8282;
}

.blue-bg{
    background-color: #8295FB;
}

.light-grey-bg{
    background-color: #CDCED1;
}

.transparent-grey-bg{
    background-color: rgba(230, 230, 230, 0.75)
}

.main-box{
    padding-left: 30%;
    padding-right: 30%;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

header{
    margin-bottom: 15px;
    font-size: larger;
    align-items: center;
}

header h1::after{
    content: url("walniete_serce.png");
}

img{
    margin-right: 25px;
}

button{
    height: 30px;
    width: 25%;
    margin-right: 15px;
}

.nav-text{
    flex: 50%;
}

nav{
    margin-bottom: 15px;
    align-items: center;
}

article{
    height: 40%;
    flex: 58%;
    margin-right: 15px;
}

aside{
    flex: 38%;
}

footer{
    margin-top: 15px;
}

section, .random-ass-box{
    height: 20%;
    margin-bottom: 20px;
}

.padding-stuff{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
}

.padding-stuff-small{
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 25px;
    padding-right: 25px;
}

ul{
    list-style-type: none;
}

ul a li{
    margin-left: 10px;
    background-color: whitesmoke;

    padding: 10px;
}

ul a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

ul a li:hover{
    background-color: rgb(200, 200, 200);
}

ul a li:active{
    background-color: white;
    color: rgb(75, 75, 75);
}
